@model ArticleModel
@{
    ViewData["Title"] = "CreateArticle";
}

<div>
    <h1>Create article</h1>

    @using(Html.BeginForm("Create", "Article", FormMethod.Post))
    {
        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            @Html.LabelFor(model => model.Title, new { @class="form-label"})
            @Html.TextBoxFor(model => model.Title, new { @class="form-control"})
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <br/>
       @* <div>
            @Html.LabelFor(model => model.TitleConfirmation, new { @class="form-labael"})
            @Html.TextBoxFor(model => model.TitleConfirmation, new { @class="form-control"})
            <span asp-validation-for="Title"></span>
        </div>
        <br/>*@
        <div>
            @Html.LabelFor(model => model.Category, new { @class="form-label"})
            @Html.TextBoxFor(model => model.Category, new { @class="form-control"})
            <span asp-validation-for="Category"class="text-danger"></span>
        </div> 
        <br/>
        <div>
            @Html.LabelFor(model => model.ShortSummary, new { @class="form-label"})
            @Html.TextBoxFor(model => model.ShortSummary, new { @class="form-control", placeholder="Artilce short summary"})
            <span asp-validation-for="ShortSummary" class="text-danger"></span>
        </div>
        <br/>
        <div>
            @Html.LabelFor(model => model.Text, new { @class="form-label"})
            @Html.TextAreaFor(model => model.Text, new { @class="form-control"})
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <br/>

        <input type="submit" class="btn btn-primary" value="Submit">
    }

   @* <form method="post" action="~/article/create">
    </form>*@
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}